body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    display: flex;
    flex-direction: column;
}
.hero {
    background: linear-gradient(to bottom, #65a2379f, #ffffff);

    color: white;
    flex: 1; /* Ocupa todo el espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: black;
}
.hero p {
    font-size: 1.2rem;
    color: black;
}
.qr-form {
    margin-top: 5px;
}
.qr-result {
    margin-top: 30px;
}
.footer {
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(to top, #65a2379f, #ffffff);
    color: black;
}
.img-fluid {
    max-width: 40%;
    height: auto;
    margin-left: 5%;
    margin-bottom: 10%;
    margin-right: 5%;
    border-radius: 10%;
}

.features {
    text-align: start;
    max-width: 80%;
    height: auto;
    margin-left: 12%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 5%;
    border-radius: 10%;
}
